@charset "UTF-8";

*{
    margin: 0;
    padding: 0;
    color: white;

}

body{
    background-color:black;
}

#lateral{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: lighter;
    font-size: 1em;
    margin-left: 50px;
    margin-top:120px;
}

a{
    display: block;
    text-decoration: none;
    margin-bottom: 30px;
}

#afastado{
    margin-top: 120px;
}

#logo{
    font-family: 'Billabong';
    font-weight: 500;
    font-size: 2em;
    position: absolute;
    bottom: 90%;
    right: 91%; 
}

#pesquisar{
    display: inline;
}