@charset "UTF-8";

*{
    margin: 0;
    padding: 0;
    color: white;

}

body{
    background-color:black;
}

#lateral{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: lighter;
    font-size: 1em;
    margin-left: 45px;
    margin-top:120px;
}

#afastado{
   /* margin-top: 77px;*/
}

#logo{
    position: absolute;
    top: 5%;
    left: 1;
    transform: translateY(-5%);
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 500;
    font-size: 2em;
}

.lateral2{
    margin-bottom: 40px;
    display: flex;
}

.lateral2 > *{
    margin-right: 10px;
}

.imagem{
   max-height:20px;
   max-width: 20px;
}