@charset "UTF-8";

*{
    margin: 0;
    padding: 0;
    color: white;

}

body{
    background-color:black;
}

#lateral{
    float: left;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 1em;
    margin-left: 30px;
    width: auto;
    height: 100vh;
}

#principal{
    width: 100vw;
    height: 100vh;
}

#lateral a{
    text-decoration: none;
}


.lateral2{
    width: 200px;
    margin-bottom: 35px;
    display: flex;
    position: relative;
}

.lateral2::before{
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: -1;  
}

.lateral2:hover::before{
    background: rgb(34, 34, 34);
    transform: scale(1.2, 2.3);
    border-radius: 5px;
}

.lateral2:hover img{
    transform: scale(1.1);
}


.lateral2 > *{
    margin-right: 15px;
}

#logo{
    position: absolute;
    top: 5%;
    left: 1;
    transform: translateY(-5%);
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif ;
    font-size: 1.5em;
}


.imagem{
    max-height:23px;
    max-width: 23px;
}

#afastado{
    margin-top: 65px;
}

#lateralLinha{
    height: 162vh;
    width: 240px;
    border-right: 1px solid rgba(255, 255, 255, 0.171);
}

#espaco{
    width: 120px;
    height: 120px;
}

#fotoPerfilLateral{
    width: 25px;
    height: 25px;
    background-image: url(../fotos/ftRhuan.jpg);
    background-size: contain;
    border-radius: 50%;
    border: 2px solid white;
}

#bola{
    margin-left: 140px;
    margin-top: 40px;
    float: left;
    width: 150px;
    height: 150px;
    background-image: url(../fotos/ftRhuan.jpg);
    border-radius: 100%;
}

#fulltexto{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    float: left;
    margin-top: 42px;
    margin-left: 100px;
}

#fulltexto a{
    text-decoration: none;
}

#nomePerfil{
    font-size: 1.2em;
}

#button{
  margin-left: 20px;
}

#button2{
    margin-left: 10px;
    margin-right: 10px;
}

.buttons{
    display:inline-block;
    text-align: center;
    font-weight: 500;
    font-size: 0.9em;
}

.Pbuttons{
    background-color: rgb(53, 53, 53);
    border-radius: 6px;
    padding: 6px 15px;
}

.Pbuttons:hover{
    background-color: rgb(36, 36, 36);
}

.espacoTextos{
    margin-bottom: 22px;
}

#gear{
    margin-left: 5px;
    margin-top: 5px;
    float: right;
}

.testeDisplay{
    margin-right: 35px;
    display: inline-block;
}

#texto3{
    font-size: 0.9em;
}

#novo{
    position: absolute;
    bottom: 50%;
    left: 27%;
    height: 90px;
    width: 90px;
    background-image: url(../images/novowow.png);
    background-repeat: no-repeat;
    border-radius: 50%;
    text-align: center;
}

#novo > p{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin-top: 100px;
    font-size: 0.8em;
}

#fEtexto{
    margin: auto;
    width: 1090px;
    max-width: 1090px;
    height: 60vh;
}

#testeLinha{
    border-bottom: 1px solid rgba(255, 255, 255, 0.226);
    margin-left: 25%;
    width: 100vw;
    max-width: 70vw;
}

.imgPeq{
    max-width: 12px;
    max-height: 12px;
    float: left;
    display: flex;
}

#linksSparte{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 0.8em;
    width:100vw;
    height: auto;
    text-align: center;
}

#linksSparte a{
    text-decoration: none;
}

.espacoLinks{
    width: 7vw;
    margin-right:20px;
    margin-left: 20px;
    padding-top:15px;
    display: inline-block;

}

.espacoLinks > img{
    margin-top: 3px;
}

#fdm{
    margin-left: 30px;
}

#safe{
    margin-left: -10px;
}

#aBorda{
    border-top: 1px solid white;
}

.letraC{
    color: gray;
}

#imagensUltimato img{
    text-align: center;
    width: 309px;
    height: 309px;
}

.primeirasImgs{
    margin-top: 20px;
}

#ajudanteSparte{
    margin-left: 20%;
}