@charset "UTF-8";

*{
    margin: 0;
    padding: 0;
    color: white;

}

body{
    background-color:black;
}

#lateral{
    float: left;
    position: fixed;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 1em;
    width:18vw;
    border-right: 1px solid rgba(255, 255, 255, 0.171);
    height: 100vh;
}

#Lcenter{
    width: 15vw;
    /* width: 210px; */
    height: 100vh;
    margin:auto;
}

#Lcenter a{
    text-decoration: none;
}

#principal{
    float: right;
    position: relative;
    height: 100vh;
    width: 82%;
}


.lateral2{
    margin-bottom: 7px;
    padding-top: 12px;
    padding-left: 7px;
    padding-right: 8px;
    padding-bottom: 12px;
    width: 200px;
    display: flex;
    position: relative;
}

#CHnosize{
    margin-bottom: 0px;
    padding-bottom:5px
}

.lateral2:hover{
    background-color: rgb(22, 22, 22);
    border-radius: 8px;
}

.lateral2:hover img{
    transform: scale(1.1);
}


.lateral2 > *{
    margin-right: 15px;
}


.imagem{
    max-height:23px;
    max-width: 23px;
}

#afastado{
    margin-top:42px;
}

#espaco{
    margin: 0 auto;
    width: 120px;
    height: 120px;
}

#fotoPerfilLateral{
    width: 25px;
    height: 25px;
    border-radius: 100%;
    border: 2px solid white;
}

#bola{
    margin-left: 7%;
    margin-top: 4%;
    float: left;
    width: 150px;
    height: 150px;
    background-image: url(../fotos/ftRhuan.jpg);
    border-radius: 100%;
}

#fulltexto{
    transform: translateY(12%);
    width: 45vw;
    height: 40vh;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin:0 auto;
    float:right;
}

#fulltexto a{
    text-decoration: none;
}

#nomePerfil{
    font-size: 1.2em;
}

#button{
  margin-left: 20px;
}

#button2{
    margin-left: 5px;
    margin-right: 10px;
}

.buttons{
    display:inline-block;
    text-align: center;
    font-weight: 500;
    font-size: 0.9em;
}

.Pbuttons{
    background-color: rgb(53, 53, 53);
    border-radius: 6px;
    padding: 6px 15px;
}

.Pbuttons:hover{
    background-color: rgb(36, 36, 36);
}

.espacoTextos{
    margin-bottom: 22px;
}

.testeDisplay{
    margin-right: 35px;
    display: inline-block;
}

#texto3{
    font-size: 0.9em;
}

#novo{
    position: absolute;
    top: 35%;
    right: 81%;
    text-align:center;
    text-decoration: none;
}

#novo > p{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 0.8em;
}

#fEtexto{
    margin: 0 auto;
    border-bottom: 1px solid rgba(255, 255, 255, 0.192);
    height: 60vh;
    width:83%;
}

.imgPeq{
    max-width: 12px;
    max-height: 12px;
    float: left;
    display: flex;
}

#linksSparte{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 0.8em;
    width: auto;
    height: auto;
    text-align:center;
}

#linksSparte a{
    text-decoration: none;
}

.espacoLinks{
    width: 7vw;
    padding-top:15px;
    display: inline-block;

}

.espacoLinks > img{
    margin-top: 3px;
}

#fdm{
    margin-left: 30px;
}

#safe{
    margin-left: -10px;
}

#aBorda{
    border-top: 1px solid white;
}

.letraC{
    color: gray;
}

#imagensUltimato img{
    text-align: center;
    width: 309px;
    height: 309px;
}

.primeirasImgs{
    margin-top: 20px;
}

#ajudanteSparte{
    margin-left: 20%;
}

#logoI{
    display:none;
}

#logoIP{
    position: absolute;
    top: 6%;
    left: 12%;
    transform: translateY(-6%);
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif ;
    font-size: 1.5em;
}