@charset "UTF-8";

@media screen and (max-width: 1265px){
    aside{
        width: 73px;
    }

    #logo{
        display: none;
    }

    #logoImg{
        display: block;
    }

    .lateral p{
        display: none;
    }

    .lateral:hover{
        width: 77%;
    }

    #div1{
        width: 65%;
    }
}